@charset 'UTF-8';
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;

    cursor: pointer;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev
{
    left: 0;
}
[dir='rtl'] .slick-prev
{
    right: 0;
    left: auto;
}
.slick-next
{
    right: 0;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 0;
}
.slick-dots
{
    position: absolute;
    bottom: 15px;

    display: block;

    width: 100%;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    font-size: 0;

    position: relative;

    display: inline-block;

    width: 12px;
    height: 12px;
    margin: 0 6px;

    cursor: pointer;
    -webkit-transition: all .3s ease-out 0s;
       -moz-transition: all .3s ease-out 0s;
        -ms-transition: all .3s ease-out 0s;
         -o-transition: all .3s ease-out 0s;
            transition: all .3s ease-out 0s;
    vertical-align: middle;

    border-radius: 50%;
    background: #ccc;
}
.slick-dots li button
{
    display: none;
}
.slick-dots li.slick-active
{
    background: #666;
}
